
h1 {
    font: 1.5em sans-serif;
    color: rgb(76, 76, 249);
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin: 5px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3ff;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}


.marks, .marks2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: rgb(76, 76,249);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    


input[type="tel"] {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
button {
    padding: 10px 20px;
    background-color: rgb(76, 76, 249);
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(54, 54, 199);
}
#result{
    color: red;
}